@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h2>Registration Form</h2>
<p>If you don't have an account please fill registration form</p>
@if(@Model.Message != null){<p class="font-color-red">@Model.Message</p>}
<form method="post" class="form-horizontal">
    <div class="form-group">
        
         <label for="Firstname" class="control-label col-sm-3">Firstname</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Firstname" class="form-control" />
        </div>
         <label for="Lastname" class="control-label col-sm-3">Lastname</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Lastname" class="form-control" />
        </div>
        <label for="Username" class="control-label col-sm-3">Username</label>
        <div class="col-sm-8">
            <input type="text" asp-for="Username" class="form-control" />
        </div>

        <label for="NewPassword" class="control-label col-sm-3">Password</label>
        <div class="col-sm-8">
            <input type="text" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="col-sm-offset-2 col-sm-8 mt-2">
            <input type="submit" value="Submit" class="btn btn-success"/>
        </div>
    </div>
</form>
<div class="container">
    <div>
        <h3>If you already have account, then click on Login button.</h3>
    </div>
    <form class="d-flex" action="Login">
        <button class="btn btn-dark" type="submit">Login</button>
    </form>
</div>

